
#comments {
    background-color: #fff;
    padding: 2rem 0;
    margin-top: 2rem;
}


#comments .comment-list {
    list-style: none !important; 
    padding-left: 0 !important;
    max-width: 900px;
    margin: 0 auto !important; 
    
}

.comment-font-size {
    font-size: 2.2rem !important;  
}

.comment-font-size p {
    font-size: 2rem !important;
}

.comment-font-size span {
    font-size: 2rem !important;
}

#comments .comment-list li {
    border: none !important;
    padding: 0 !important;
}


#comments .comment-list .comment-item .comment-body {
    background-color: #f8f9fa !important; 
    border: 1px solid #e9ecef;
    border-radius: 0.25rem;
    padding: 1.25rem; 
}


#comments .comment-author-name a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
#comments .comment-author-name a:hover {
    text-decoration: underline;
}


#comments .comment-text p {
    margin-bottom: 0;
}


#comments .comment-meta a {
    color: #6c757d;
    text-decoration: none;
    border-bottom: 1px dotted #6c757d;
}
#comments .comment-meta a:hover {
    color: #343a40;
    border-bottom-style: solid;
}

.comment-content {
	font-size: 1.8rem;
}
