/* custom css */
.news-item {
  transition: all 0.3s ease;
  border: 1px solid #eee;
  border-radius: .5rem;
  overflow: hidden;
  background: #fff;
}

/*  hover  card */
.news-item:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* thumbnail */
.news-item img {
  border-radius: .5rem;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  object-fit: cover;
}

/* hover card */
.news-item:hover img {
  transform: scale(1.05) translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Tiêu đề */
.news-item h5 a {
  color: #222;
  transition: color 0.2s ease;
}

.news-item h5 a:hover {
  color: #0056d2;
  text-decoration: none;
}

.post-info{
  font-size: 2rem;
}

/* Ngày tháng */
.news-item .display-4 {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
}

/* Responsive */
@media (max-width: 768px) {
  .news-item .col-md-5 {
    margin-bottom: 1rem;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .news-item {
    flex-direction: column;
  }
  .news-left, .news-right {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .news-datebox {
    float: none;
    margin: 0 auto 10px;
  }
}